<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "l_e_others_471.png", size: '100x100' %>
    <table class="table">
    	<tbody>
    		<tr></tr>
    		<tr>
    		   <th>name</th>
    		   <th><%= user.name %></th>
    	    </tr>
    	    <tr>
    	    	<th>introduction</th>
    	    	<th><%= user.introduction %></th>
    	    </tr>
    	</tbody>
    </table>

	<% if user.id == current_user.id %>
         <%= link_to edit_user_path(user), class: "btn btn-default btn-block" do %>
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
         <% end %>
    <% else %>
         <%= link_to user_path(current_user), class: "btn btn-default btn-block" do %>
                   <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
         <% end %>
    <% end %>
